<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<meta charset="UTF-8">
</head>
<body>
<h3>delete App</h3>
<h4>are you sure?</h4>
<p>
    <a th:href="@{/app}">
        Back list
    </a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<div id="form">
    <form th:action="@{/delete}" th:object="${appForm}" method="post" novalidate="novalidate"
          enctype="multipart/form-data">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <div>
                <label>Name: </label>
                <label th:text="${appForm.name}"></label>
            </div>
            <div>
                <label>price: </label>
                <label th:text="${appForm.price}"></label>
            </div>
            <div>
                <label>description: </label>
                <label th:text="${appForm.description}"></label>
            </div>
            <div>
                <label>spendingList: </label>
                <label th:text="${appForm.spendingList}"></label>
            </div>
            <div>
                <label>image: </label>
                <label th:text="${appForm.image}"></label>
            </div>
            <div>
                <td><input type="submit" value="delete"/></td>
            </div>
        </table>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>